.custom-card {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: flex-start; /* Wyrównujemy elementy do góry */
  }
  
  .book-image-container {
    width: 25%; /* Dostosuj szerokość miniaturki według preferencji */
    margin-right: 10px;
  }
  
  .book-image {
    width: 100%;
    height: auto;
    max-width: 100px; /* Dostosuj szerokość miniaturki według preferencji */
    max-height: 150px; /* Dostosuj wysokość miniaturki według preferencji */
    object-fit: contain;
  }
  
  .book-details {
    flex-grow: 1; /* Zwiększamy wartość flex-grow na 1 */
  }
  