//Your changes
.carousel-control-next {
    height: auto;
    width: 8rem !important;
    // align-items: right;
  }

 .carousel-control-next-icon{
    margin-left: 90px;
    align-items: right !important;
    width: 5rem !important;
    height: 5rem !important;
    opacity: 1 !important;
  }
@import "../node_modules/bootstrap/scss/bootstrap.scss";